canvas {
  background-color: #000;
  background-image: url(images/invaders.png);
  background-size: cover;
}

@font-face {
  font-family: ArcadeClassic;
  src: url(arcade_classic.ttf);
 }

.win-screen, .lose-screen, .menu-screen {
  height: 468px;
  position: absolute;
  font-family: 'ArcadeClassic';
  font-size: 2em;
  color: white;
  border: 2px solid black;
  text-align: center;
  vertical-align: middle;
  line-height: 300px;
  z-index: 1000;
}

.menu-screen {
  background-image: url(http://res.cloudinary.com/charliecloud/image/upload/v1435366923/user-profile-images/space-invaders-minimal-cabinet_moagrp.jpg);
  background-size: cover;
  border: 2px solid black;
}

.menu-button {
  line-height: 0px;
}

#start-button {
  transition: color .5s ease-in-out;
}

.menu-button:hover, #start-button:hover {
  color: white;
  cursor: pointer;
}

#start-button:hover {
  color: red;
  animation: 0;
  -webkit-animation: 0;
}

#start-button, .header {
  margin-top: 25%;
  color: white;
  font-size: 1.5em;
  margin-bottom: 0;
}

@keyframes blink {
   0% { opacity: 1.0; }
   50% { opacity: 0.0; }
   100% { opacity: 1.0; }
 }
 @-webkit-keyframes blink {
   0% { opacity: 1.0; }
   50% { opacity: 0.0; }
   100% { opacity: 1.0; }
 }
 
 .blink {
   animation: blink 1.5s step-start 0s infinite;
   -webkit-animation: blink 1.5s step-start 0s infinite;
 }

#start-button {
  margin-top: 0px;
}

.endgame-screen, .menu-screen {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.menu {
  height: 100px;
  background-color: black;
  border-top: 2px solid #87D37C;
}

#shoot-button {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  border: 2px solid black;
}

.credits {
  color: white;
  font-size: 1.2em;
  font-family: 'ArcadeClassic'
}

.name h5 {
  transition: color .5s;
  color: #87D37C;
}

.name:hover h5 {
  color: white;
}

#github-icon:hover {
  cursor: pointer;
}

.back-to-charlie {
  padding-top: 2%;
}
