canvas {
  background-color: #000;
  display: block;
  position: absolute;
  margin: 0 auto;
  bottom: 10;
  left: 0;
  right: 0;
}

@font-face {
  font-family: ArcadeClassic;
  src: url(arcade_classic.ttf);
 }
